﻿@*@model Proyecto_MVC_financiera.Models.Repositorio.Instance.Financiera;*@

@{
    ViewBag.Title = "Cuota";
}

<h2>Cuota</h2>

<h3>@ViewBag.Error</h3>

    <div class="row">

        <div class="form-horizontal">
            <div class="form-group">
                <input type="hidden" id="legajo" name="legajo" value="1234">
                <label class="control-label col-md-2">DNI</label>
                <div class="col-md-10">
                    <input type="text" id="dni" name="dni" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button  id="btn-buscar" class="btn btn-primary btn-buscar" name="option" value="Buscar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Buscando...">Buscar</button>
                </div>
            </div>
        </div>
    </div>
@*}*@

<div id="resultado"></div>

<div class="body-content">
    <div id="resultado-consulta" style="padding-top: 40px;"></div>

    <div class="row" id="formulario-pago">
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <input type="hidden" id="legajo" name="legajo" value="1234">
                <label class="control-label col-md-2">
                    N° de CREDITO: <span id="numCredito"></span>
                </label>
                <label class="control-label col-md-2">
                    N° de CUOTA: <span id="numCuota"></span>
                </label>
            </div>
            <hr />
            <div class="form-group">
                <input type="hidden" id="legajo" name="legajo" value="1234">
                <label class="control-label col-md-2">
                    Saldo de la Cuota: <span id="saldo-cuota"></span>
                </label>
                <div class="col-md-10">
                    <input type="text" id="saldoCuota" name="saldoCuota" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Importe a Pagar: 
                </label>
                <div class="col-md-10">
                    <input type="text" id="importe" name="importe" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary btn-pagar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Procesando..." )>Pagar</button>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function () {
        $(".navbar-brand").css("display", "block");
        $(".navbar-nav").css("display", "block");
        $("#formulario-pago").hide();
        
    });

    $(document).ready(function () {
        $('.btn-buscar').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDatosCreditos")',
                data: { 'dni': $("#dni").val() },
                success: function (data) {
                    $("#resultado").html(data);
                    $("#formulario-pago").show();
                    $('#saldoCuota').val("");
                    $("#numCuota").html("");
                    $("#numCredito").html("");
                },
                error: function (ex) {
                    alert('Falló.' + ex);
                }
            });
        })
    });

    var numCuota, numCredito;

    $(document).on("click", 'td a', function (event) {

        var fila = $(this).parent("td").parent("tr");
        numCuota = fila.children("td")[2].innerHTML;
        numCredito = fila.children("td")[4].innerHTML;

        $('#saldoCuota').val(fila.children("td")[1].innerHTML);
        $("#numCuota").html(numCuota);
        $("#numCredito").html(numCredito);

    });

    </script>

}