﻿
@model  List<Proyecto_MVC_financiera.Models.Credito>


@using PagedList.Mvc;


<div class="row margin-top-15 margin-bottom-10">
    <div class="col-lg-12">
        <label class="text-dark">
            <span class="glyphicon glyphicon-th-list"></span> Resultado de la búsqueda
        </label>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Monto)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Saldo)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().NumCuota)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Vencimiento)</th>
            <th class="text-center bg-info">N° de Credito</th>
            <th class="text-center bg-info"> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var credito in Model)
        {
            foreach (var cuota in credito.Cuotas)
            {
                if ((int)credito.Estado == 3)
                {
                    <tr class="bg-danger">
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><a><i class="fas fa-money-check-alt"></i> Pago</a></td>
                    </tr>
                }
                if ((int)credito.Estado == 2)
                {
                    <tr>
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><i class="fas fa-money-check-alt"></i> Pagado</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><a><i class="fas fa-money-check-alt"></i> Pago</a></td>
                    </tr>
                }

            }
        }
    </tbody>
</table>

