﻿
@{
    ViewBag.Title = "about";
    Proyecto_MVC_financiera.Models.Empleado empleado = ViewBag.Empleado;
}
<h2>@empleado.Nombre, @empleado.Apellido</h2>
<h3>@ViewBag.Message</h3>

@*<input type="hidden" id="legajo" name="legajo" value="@empleado.Legajo">*@

@section scripts
{
    <script>
        // Esta función se ejecuta al cargar la página
        $(function () {
            $(".navbar-brand").css("display", "block");
            $(".navbar-nav").css("display", "block");
        });

    </script>
}