﻿@model Proyecto_MVC_financiera.Models.Financiera

@{
    ViewBag.Title = "Cuota";
}

<h2>Cuota</h2>

<h3>@ViewBag.Error</h3>

@*@using (Ajax.BeginForm("GetDatosCreditos", "Home", new AjaxOptions { HttpMethod = "GET", OnSuccess = "OnSuccess", OnFailure = "OnFailure", UpdateTargetId = "resultado-consulta" }))
{*@

    <div class="row">

        <div class="form-horizontal">
            <div class="form-group">
                <input type="hidden" id="legajo" name="legajo" value="1234">
                @Html.LabelFor(m => m.DNI, null, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="dni" name="dni" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button  id="btn-buscar" class="btn btn-primary btn-buscar" name="option" value="Buscar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Buscando...">Buscar</button>
                </div>
            </div>
        </div>
    </div>
@*}*@

<div id="resultado"></div>

<div class="body-content">
    <div id="resultado-consulta" style="padding-top: 40px;"></div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function () {
        $(".navbar-brand").css("display", "block");
        $(".navbar-nav").css("display", "block");
    });

        $(document).ready(function () {
            $('.btn-buscar').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDatosCreditos")',
                    data: { 'dni': $("#dni").val() },
                    success: function (data) {
                        $("#resultado").html(data)
                    },
                    error: function (ex) {
                        alert('Falló.' + ex);
                    }
                });
            })
        });

        //var btnBuscar;

        //$(document).on('click', 'button[type=submit]', function () {
        //    btnBuscar = $(this);
        //    btnBuscar.button('loading');
        //});

        //function OnSuccess(data) {
        //    btnBuscar.button('reset');
        //}
        //function OnFailure(data) {
        //    alert('HTTP Status Code: ' + data.param1 + '  Error Message: ' + data.param2);
        //    btnBuscar.button('reset');
        //}

    </script>

}


