﻿@*@model  PagedList.IPagedList<Proyecto_MVC_financiera.Models.Credito>*@
@model  List<Proyecto_MVC_financiera.Models.Credito>


@using PagedList.Mvc;


<div class="row margin-top-15 margin-bottom-10">
    <div class="col-lg-12">
        <label class="text-dark">
            <span class="glyphicon glyphicon-th-list"></span> Resultado de la búsqueda
        </label>
        @*<label class="pull-right color-inti">Cantidad de registros: @Model.TotalItems</label>*@
        @*<label class="pull-right text-dark">Cantidad de registros: @Model.TotalItemCount</label>*@
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Monto)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Saldo)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().NumCuota)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Vencimiento)</th>
            <th class="text-center bg-info">N° de Credito</th>
            <th class="text-center bg-info"> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var credito in Model)
        {
            foreach (var cuota in credito.Cuotas)
            {
                if ((int)credito.Estado == 3)
                {
                    <tr class="bg-danger">
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><a><i class="fas fa-money-check-alt"></i> Pago</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center" id="id">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><a><i class="fas fa-money-check-alt"></i> Pago</a></td>
                    </tr>
                }

            }
        }
    </tbody>
</table>


<div class="row">
    @*<div class="col-md-4 text-center col-md-offset-4">

            <strong>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de: @Model.PageCount</strong>

            @Html.PagedListPager(
                Model,
                page => Url.Action("Consulta", new { page = page }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "resultado-consulta" }))
        </div>*@
</div>
