﻿@{
    ViewBag.Title = "Bienvenido";
}

<div class="jumbotron">
    <h3>Bienvenido a la Financiera</h3>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Logeate</div>
                <div class="panel-body">
                    <div class="alert alert-danger" style="display:@ViewBag.error"><h5>EL LEGAJO NO ES CORRECTO! INTENTE DE NUEVO</h5></div>
                    <form class="form-horizontal" action="/Home/About" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su Nombre" name="nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Legajo:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd" placeholder="Ingrese su Legajo" name="pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3"></div>
</div>