﻿@model Proyecto_MVC_financiera.Models.Cuota

@{
    ViewBag.Title = "Cuota";
}

<h2>Cuota</h2>

<h3>@ViewBag.Error</h3>

    <div class="row">

        <div class="form-horizontal" style="display:flex;">
                <div class="form-group">
                    <input type="hidden" id="legajo" name="legajo" value="1234">
                    <label class="control-label col-md-2">DNI</label>
                    <div class="col-md-10">
                        <input type="text" id="dni" name="dni" value="" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="btn-buscar" class="btn btn-primary btn-buscar" name="option" value="Buscar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Buscando...">Buscar</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <select class="form-control" id="selPago" style="width:135%;">
                            <option selected>Seleccione una opcion de pago:</option>
                            <option value="1">Pago por cuotas individuales</option>
                            <option value="2">Pago por monto</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>

<div id="resultado"></div>

<div id="recibo"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function () {
        $(".navbar-brand").css("display", "block");
        $(".navbar-nav").css("display", "block");

        let formaDePago = 0;
        let dni;

        $('.btn-buscar').on('click', function () {
            dni = $("#dni").val();
            tablaCuotas(dni, formaDePago);
        });

        $(document).on('change', '#selPago', function (event) {
            formaDePago = $("#selPago option:selected").val();
            dni = $("#dni").val();           
        });

        function tablaCuotas(dni, formaDePago) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDatosCreditos")',
                data: { 'dni': dni, 'formaDePago': formaDePago },
                success: function (data) {
                    $("#resultado").html(data);
                    switch (formaDePago) {
                        case (1 || 0):
                            $('#saldoCuota').val("");
                            $("#numCuota").html("");
                            $("#numCredito").html("");
                            break;
                        case 2:
                            alert("form 2");
                            break;
                        default:
                    }
                    //$("#formulario-pago").show();
                    //$('#saldoCuota').val("");
                    //$("#numCuota").html("");
                    //$("#numCredito").html("");
                },
                error: function (ex) {
                    alert('Falló.' + ex);
                }
            });
        }
    });

    var numCuota, numCredito;
    var sumSaldos = 0;
    var pagos = {
        JsonPagos: []
    };

    $(document).on("click", 'td a', function (event) {

        var fila = $(this).parent("td").parent("tr");
        numCuota = fila.children("td")[2].innerHTML;
        numCredito = fila.children("td")[4].innerHTML;

        var num = fila.children("td")[1].innerHTML.replace(/[,]/g, function (x) {
            return x ='.';
        });//para quitar coma

        sumSaldos += parseFloat(num);

        $('#saldoCuota').val(sumSaldos);
        $("#numCuota").html(numCuota);
        $("#numCredito").html(numCredito);

        pagos.JsonPagos.push({ NumeroCredito: numCredito, NumeroCuota: numCuota });
        
    });
    $(document).on("click", ".pagarMontoAll", function (event) {
        numCredito = $(this).parent("td").prop("id");
        $("#numCredito").html(numCredito);
    });

    $(document).on('click', ".btn-pagar", function () {

        if (numCuota != undefined) {
            var saldo = $('#saldoCuota').val();
        }
        else {
            numCuota = 0;
        }
        var monto = $('#importe').val();
        pagos.monto = monto;
        pagos.dni = $("#dni").val();


        console.log(JSON.stringify(pagos));

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Pago", "Cuota")',
            data: JSON.stringify(pagos),
             contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#recibo").html(data);
            },
            error: function (ex) {
                alert('Falló.' + ex);
            }
        });
    });

    </script>

}