﻿@model  List<Proyecto_MVC_financiera.Models.Credito>


@using PagedList.Mvc;


<div class="row margin-top-15 margin-bottom-10">
    <div class="col-lg-12">
        <label class="text-dark">
            <span class="glyphicon glyphicon-th-list"></span> Resultado de la búsqueda
        </label>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Monto)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Saldo)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().NumCuota)</th>
            <th class="text-center bg-info">@Html.LabelFor(m => m.FirstOrDefault().Cuotas.FirstOrDefault().Vencimiento)</th>
            <th class="text-center bg-info">N° de Credito</th>
            <th class="text-center bg-info"> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var credito in Model)
        {
            foreach (var cuota in credito.Cuotas)
            {
                if ((int)credito.Estado == 3)
                {
                    <tr class="bg-danger">
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td> </td>
                    </tr>
                }
                if ((int)credito.Estado == 2)
                {
                    <tr>
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td class="text-center"><i class="fas fa-money-check-alt"></i> Pagado</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="text-center">@cuota.Monto</td>
                        <td class="text-center">@cuota.Saldo</td>
                        <td class="text-center">@cuota.NumCuota</td>
                        <td class="text-center">@cuota.Vencimiento</td>
                        <td class="text-center">@credito.Numero</td>
                        <td> </td>
                        
                    </tr>
                }

            }
                    <tr>
                        <td class="text-center" id="@credito.Numero" colspan="6"><button class="pagarMontoAll"><i class="fas fa-money-check-alt"></i> Pagar Credito N°: @credito.Numero</button></td>
                    </tr>
        }
    </tbody>
</table>

<div class="body-content">

    <div class="row" id="formulario-pago">
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    N° de CREDITO: <span id="numCredito"></span>
                </label>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2">
                    Importe a Pagar:
                </label>
                <div class="col-md-10">
                    <input type="number" id="importe" name="importe" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary btn-pagar" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Procesando..." )>Pagar</button>
                </div>
            </div>
        </div>

    </div>
</div>
