﻿@*@model Proyecto_MVC_financiera.Models.Pago*@

<div class="col-12">
    @*<table>
        <thead>
            <tr>
                <td>
                    dfsdfsdf
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    dfsdfsdf
                </td>
            </tr>
        </tbody>
    </table>*@
    <table class="table table-striped table-hover" id="example">
        <thead>
            <tr>
                <th colspan="5">RECIO:</th>
            </tr>
            <tr>
                <th rowspan="2">Encabezado:<br><br></th>
                <th>-FECHA-</th>
                <th>-EMPLEADO-</th>
                <th>-CLIENTE-</th>
                <th></th>
            </tr>
            <tr>
                <th>@DateTime.Now</th>
                <th>Roberto Carlos</th>
                <th>Juan Perez</th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="2">CREDITO:<br><br></th>
                <th colspan="2"></th>
                <th>Detalle</th>
                <th></th>
            </tr>
            <tr>
                <th>N° Cuota</th>
                <th>VEncimiento</th>
                <th>Cuota Saldo Actual</th>
                <th>Cuota Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>345</td>
                <td>202</td>
                <td>10/11/2019</td>
                <td>$350,00</td>
                <td>$2500,00</td>
            </tr>
            <tr>
                <td>345</td>
                <td>201</td>
                <td>10/10/2019</td>
                <td>$400,00</td>
                <td>$2500,00</td>
            </tr>
            <tr>
                <td>345</td>
                <td>200</td>
                <td>10/12/2019</td>
                <td>$300,000</td>
                <td>$2500,00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Monto Abonado:</td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ 11000,00</td>
            </tr>
            <tr>
                <td>Sub Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ 1050,00</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ 1050,00</td>
            </tr>
        </tfoot>
    </table>
</div>