﻿@model Proyecto_MVC_financiera.Models.Credito

@{
    ViewBag.Title = "Credito";
}


<h2>Comprobar Situacion</h2>
<div class="container-fluid">
    <div class="col-lg-6">
        <div class="form-horizontal">
            <div class="form-group">
                <input type="hidden" id="legajo" name="legajo" value="1234">
                <label class="control-label col-md-2">
                    Verificar Cliente:
                </label>
                <div class="col-md-10">
                    <input type="text" id="dni" name="dni" value="" required class="form-control datadni">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary btn-consultar-cliente" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Consultando.." )>Consultar</button>
                </div>
            </div>
        </div>

        @* para mostrar mensaje en caso que el cliente pueda adquirir un credito despues de las validaciones *@
        <div class="" id="exito"><h5></h5></div>

        <div class="info-cliente">
            <hr />
            <h2>Crear Credito</h2>

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.MontoSolicitado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MontoSolicitado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.Plan.Descripcion, null, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Plan.NumPlan, ViewBag.Planes as SelectList, "Seleccione una opción", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-primary btn-crear-credito" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Creando.." )>Crear</button>
                        <button type="button" class="btn btn-primary btn-Imprimir" id="" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Generando.." )>Imprimir</button>
                    </div>
                </div>

            </div>
            <div class="" id="creditoOtorgado"><h5></h5></div>
        </div>
    </div>
    <div class="col-lg-6" id="comprobante">

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    $(document).ready(function () {
        $(".navbar-brand").css("display", "block");
        $(".navbar-nav").css("display", "block");
        $(".info-cliente").hide();
        $('.btn-Imprimir').hide();
    });

    $('.btn-consultar-cliente').on('click', function () {
        var btnConsultar = $(this);
        btnConsultar.button('loading');

        var dni = $('.datadni').val();
        $('#exito').removeClass();
        $.ajax({
            url: '@Url.Action("EstadoCliente", "Credito")',
            type: 'GET',
            data: { 'dni': dni },
            success: function (data) {
                if (data.validacion) {
                    $('.info-cliente').show('line');
                }
                $('#exito').addClass(data.alert);
                $('#exito').children().html(data.mjs);
                $('#exito').show(3000);
                $('#exito').hide(6000);
                btnConsultar.button('reset');
            },
            error: function (error) {
                console.log("error", error);
            }
        });
    });

    $('.btn-crear-credito').on('click', function () {
        var btnCrear = $(this);
        btnCrear.button('loading');

        var monto = $("#MontoSolicitado").val();
        var plan = $("#Plan_NumPlan").val();
        var dni = $('.datadni').val();
        //var legajo = $("#Empleado").val();
        $('#creditoOtorgado').removeClass();
        $.ajax({
            url: '@Url.Action("CrearCredito", "Credito")',
            type: 'POST',
            data: { 'monto': monto, 'plan': plan, 'dni': dni },
            success: function (data) {
                if (data.abonar) {
                    $('[data-toggle="popover"]').popover().click();
                }
                $('#creditoOtorgado').addClass(data.alert);
                $('#creditoOtorgado').children().html(data.mjs);
                $('#creditoOtorgado').show(3000);
                $('#creditoOtorgado').hide(6000);
                btnCrear.button('reset');

                $("#Plan_NumPlan").val("").trigger('change');
                $("#MontoSolicitado").val("");
                if (data.botonImprimir != 0) {
                    $('.btn-Imprimir').prop('id', data.botonImprimir);
                    $('.btn-Imprimir').show();
                }

            },
            error: function (error) {
                console.log("error", error);
            }
        });
    });

        $('.btn-Imprimir').on("click", function (e) {

            $.ajax({
                url: '@Url.Action("ImprimirComprobante", "Credito")',
                type: 'GET',
                data: { 'numCredito': $(this).prop('id')},
                success: function (data) {
                    $('#comprobante').html(data);            

                },
                error: function (error) {
                    console.log("error", error);
                }
            });

        });


    </script>
}
