﻿@model Proyecto_MVC_financiera.Models.Credito

<table class="table table-striped table-hover" id="Compro">
    <thead>
        <tr>
            <th colspan="5">Comprobate:</th>
        </tr>
        <tr>
            <th rowspan="2">Encabezado:<br><br></th>
            <th>-FECHA-</th>
            <th>-EMPLEADO LEGAJO-</th>
            <th>-CLIENTE DNI-</th>
            <th></th>
        </tr>
        <tr>
            <th>@Model.FechaSolicitud</th>
            <th>@Model.EmpleadoCreador</th>
            <th>@Model.ClientePertenece</th>
            <th></th>
        </tr>
        <tr>
            <th rowspan="2">CREDITO:<br><br></th>
            <th colspan="2"></th>
            <th>Detalle</th>
            <th></th>
        </tr>
        <tr>
            <th>N° Cuota</th>
            <th>VEncimiento</th>
            <th>Cuota Montol</th>
            <th>Cuota Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuota in Model.Cuotas)
        {
        <tr>
            <td>@Model.Numero</td>
            <td>@cuota.NumCuota</td>
            <td>@cuota.Vencimiento</td>
            <td>@cuota.Monto</td>
            <td>@cuota.Saldo</td>
        </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td>Monto Solicitado:</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$ @Model.MontoSolicitado</td>
        </tr>
        <tr>
            <td>Interes:</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$ @Model.Interes</td>
        </tr>
    </tfoot>
</table>